<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Add Delivery Employee</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        <header class="bg-dark text-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Add Delivery Employee</h1>
                    </div>
                </div>
            </div>
        </header>
        <main class="container mt-4">
            <section id="form" class="bg-light py-5">
                <div class="container">
                    <p>Enter delivery employee details</p>
                    {% if errormessage %}
                        <div class="alert alert-danger" role="alert">
                            {{ errormessage }}
                        </div>
                    {% endif %}
                    <form action="/add-deliveryEmployee" method="post">
                        
                        <div class="form-group">
                            <label for="fName">First Name</label>
                            <input type="text" id="fName" name="fName" class="form-control" value="{{ fName }}" required>
                        </div>
                        <div class="form-group">
                            <label for="lName">Last Name</label>
                            <input type="text" id="lName" name="lName" class="form-control" value="{{ lName }}" required>
                        </div>
                        <div class="form-group">
                            <label for="bankAccountNo">Bank Account Number</label>
                            <input type="text" id="bankAccountNo" name="bankAccountNo" class="form-control" value="{{ bankAccountNo }}" required>
                        </div>
                        <div class="form-group">
                            <label for="niNum">Nation Insurance Number</label>
                            <input type="text" id="niNum" name="niNum" class="form-control" value="{{ niNum }}" required>
                        </div>
                        <div class="form-group">
                            <label for="salary">Salary</label>
                            <input type="text" id="salary" name="salary" class="form-control" value="{{ salary }}" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </section>
        </main>
    </body>
</html>